<h1>List of Courses</h1>


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Teacher</th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let course of courses">
      <th>{{ course.id }}</th>
      <td>{{ course.name }} </td>
      <td>{{ course.teacher }}</td>
      <td><button class="btn btn-danger" type="button">Delete</button></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" type="button">Add new Course</button>
