<p-panel header="List of Courses" [toggleable]="true">
  <p-table [value]="courses" [tableStyle]="{ 'min-width': '50rem' }">
    <ng-template pTemplate="header">
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Teacher</th>          
            <th>Action</th>          
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-course>
        <tr>
            <td>{{ course.id }}</td>
            <td>{{ course.name }}</td>
            <td>{{ course.teacher }}</td>
            <td><p-button label="Delete" class="p-button-danger"></p-button></td>    
        </tr>
    </ng-template>
  </p-table>
  

<button class="btn btn-primary" type="button">Add new Course</button>
</p-panel>
